/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f4f8;
    color: #333;
  }

  .profile-image{
    background-image: url('image/maman.jpeg');
    background-position: right;
    background-size: cover;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid yellow;
    /*left: 85%;*/
    /*position: absolute;*/
  }

  /* Styles communs */
  
  .content-container, .content-detail-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  section {
    margin-top: 20px;
  }
  
  section h2 {
    font-size: 18px;
    color: #555;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #42a5f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1e88e5;
  }
  
  
  .welcome-container {
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Grid styling */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .grid-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  }
  
  .icon-bg {
    background-color: #42a5f5;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    transition: background-color 0.3s;
  }
  
  .icon {
    font-size: 30px;
  }
  
  .grid-item p {
    font-size: 16px;
    color: #333;
  }

  .hidden {
    display: none;
  }
  
  .content-section {
    margin-top: 20px;
    text-align: left;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .settings-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
  }
  
  input[type="color"] {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .settings-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #42a5f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .settings-button:hover {
    background-color: #1e88e5;
  }

  /* Styles pour le menu flottant */
.floating-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  .parametre-menu {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1000;
  }
  
  .home-button {
    background-color: #42a5f5;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .home-button:hover {
    background-color: #1e88e5;
  }
  
  .icon-home {
    font-size: 18px;
  }

  #pre-loader{
    background: #292b38 url(image/loader.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  
  
